    <h2 mat-dialog-title>Add Product</h2>
    <mat-dialog-content class=”mat-typography”>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <label for="name">Name</label>
            <input id="name" type="text" formControlName="name"/>
            <label for="price">Price</label>
            <input id="price" type="number" formControlName="price"/>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
        <button mat-button (click)="onSubmit()" type="submit">Save</button>
    </mat-dialog-actions>