div {
    width: 100%;

    table {
        .mat-mdc-header-cell {
            color: rgb(33, 43, 53);
            font-weight: 700;
            font-size: 1em;
            background-color: #EEEEEE;
        }
    }

    ::ng-deep .mat-mdc-paginator-outer-container .mat-mdc-paginator-container {
        justify-content: space-between;
    }
}