<div>
  <table mat-table matSort [dataSource]="products" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <!-- action Column -->
    <!-- <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td > <button>edit</button><button>delete</button> </td>
          </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="columnsProcduct"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsProcduct;"></tr>
  </table>
  <mat-paginator [length]="totalElements" [pageSizeOptions]="[2]" showFirstLastButtons
    (page)="onChangePageable($event)">
  </mat-paginator>

</div>